.container-products{
    padding: 4rem;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: small;
}

.product img{
    max-width: 200px;
    max-height: 200px;
}