.container-products{
    padding: 4rem;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: small;
}

.product img{
    max-width: 200px;
    max-height: 200px;
}

.search{
    display: flex;
    justify-content: center;
}

.search input{
    min-width: 80%;
    border-radius: 10px 0 0 10px;
    margin: 14px 0 0 0;
    padding: 11px;
    background-image: ('/public/images/search_17450802.png');
    background-position: 30px center;
     background-repeat: no-repeat;
     background-Size: 20px 20px;
    }

.button-search button{
    width: 100%;
    height: 105%;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    margin: 14px 0 0 0px;
}

.button-search img{
    position: absolute;
    top: 88%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}
.button-search{
  position: relative;
    width: 37px;
    height: 39px;
}
  



